body {
  margin: 0;
  font-family: 'Comic Neue', cursive;
  color: #7400B8;
}
.header {
  align-items: center;
  background-color: #7400B8;
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  margin-bottom: 20px;

  background: hsla(197, 100%, 63%, 1);

  background: linear-gradient(360deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);

  background: -moz-linear-gradient(360deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);

  background: -webkit-linear-gradient(360deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );

  box-shadow: 0px 2px 2px 1px rgb(61 51 96 / 29%);
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo h1 {
  margin: 0;
}
.header__img {
  width: 40px;
  /* margin-top: 10px; */
  margin-left: 10px;
  margin-right: 10px;
}
.login {
  /* background: linear-gradient(#ffffff, #AB88FF); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #7400B8;
  border-radius: 40px;
  color: #7400B8;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login__container h2 {
  margin: 0;
  padding: 0;
}
.login__container--form {
  display: flex;
  flex-direction: column;;
}
.login__container--form label {
  font-size: 14px;
}
.login__container--remember-me {
  color: #7400B8;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login__container--remember-me a {
  color: #7400B8;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media {
  margin-top: 20px;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__container--form .input {
  height: 32px;
  border-radius: 10px;
  border: 2px solid #b0a2b8;
  outline: none;
  padding: 0 5px;
  background-color: (255, 255, 255, 0.1);
  width: 100%;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.login__container--form .button {
  height: 32px;
  border-radius: 10px;
  color: white;
  padding: 0 5px;
  background-color: #7400B8;
  margin-bottom: 5px;
  outline: none;
  border: none;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.login__container--social-media img {
  width: 40px;
}

.footer {
  padding: 60px 20px 20px 20px;
}

.footer a {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .login__container {
    border: none;
    padding: 0;
    width: 100%;
    min-height: 500px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .footer a {
    margin-bottom: 10px;
  }
}