* {
  font-family: 'Comic Neue', cursive;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  /* background: #B8D0EB; */
  height: 50px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 5px 25px;
  background: hsla(197, 100%, 63%, 1);
  background: linear-gradient(360deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
  background: -moz-linear-gradient(360deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
  background: -webkit-linear-gradient(360deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );

}

.header img {
  width: 40px;
  margin-right: 10px;  
}